:root {
  --font_size: 20px;
  --primary_font: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  --primary_color: #000;
  --black_color: #000;
  --red_color: rgb(214, 65, 65);
  --green_color: rgb(49, 122, 67);
  --blue_color: rgb(44, 33, 94);
  --orange_color: rgb(235, 166, 5);
}

/*  GLOBAL  */

html {
  font-size: var(--font_size);
  font-family: var(--primary_font);
}

::selection {
  background: var(--primary_color);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary_color);
}

li {
  list-style-type: none;
  cursor: pointer;
}

/* BUTTONS */

button,
.btn {
  padding: 0.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.btn-red {
  border: 1px solid var(--primary_color);
  color: var(--primary_color);
  transition: all 0.5s ease;
}

.btn-red:hover {
  background-color: var(--primary_color);
}

.btn-red:hover a {
  color: #fff;
}

.btn-green {
  color: var(--green_color);
  border: 1px solid var(--green_color);
  transition: all 0.5s ease;
}

.btn-green:hover {
  background-color: var(--green_color);
  color: #fff;
}

.btn-select {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.btn-select.black {
  background-color: var(--black_color);
}

.btn-select.red {
  background-color: var(--red_color);
}

.btn-select.green {
  background-color: var(--green_color);
}

.btn-select.blue {
  background-color: var(--blue_color);
}

.btn-select.orange {
  background-color: var(--orange_color);
}

.btn-select.cards-right {
  position: relative;
  width: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: rgba(128, 128, 128, 0.561);
}

.btn-select.cards-right::before {
  position: absolute;
  left: -5px;
  top: -3px;
  content: ' ';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary_color);
  transition: left 0.5s ease;
}

.btn-select.cards-right.active::before {
  left: 50%;
  top: -3px;
}

/* CARD */

.card {
  overflow: hidden;
  transition: height 0.3s ease-out;
  border-radius: 0;
  box-shadow: none;
  border-top: 2px solid var(--primary_color);
}

.card:last-child {
  border-bottom: 2px solid var(--primary_color);
}

.card.right {
  text-align: right;
}

.card.right:hover .post h3 {
  text-decoration: underline var(--primary_color);
}

.post_header {
  padding: 3rem 0;
}

.post_content {
  padding: 0 0 3rem 0;
}

.card.right .post_header {
  padding: 3rem 1rem;
}

.card.right .post_content {
  padding: 0 1rem 3rem 1rem;
}

.post h3 {
  font-size: calc(25px + 1.55vw);
  line-height: 1.1em;
  font-weight: 400;
  letter-spacing: -2px;
  color: var(--primary_color);
  margin-bottom: 2rem;
}

.post_meta {
  font-size: 13px;
}

.post_meta span:first-child {
  margin-right: 2rem;
}

.cat_links strong {
  margin-right: 0.3rem;
}

.post button {
  padding: 0.8rem 2rem;
  margin-top: 2rem;
}

/* LAYOUT */

#header {
  margin: 2rem 1.5rem 6rem 1.5rem;
}

#main,
#footer {
  margin: 1.5rem;
}

/* HEADER */

#header nav {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#header ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#header li {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.05rem;
  position: relative;
}

#header li:hover {
  color: var(--primary_color);
}

#header li.active {
  color: var(--primary_color);
  transition: 0.3s ease;
}

#header li.active::before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -4px;
  display: inline-block;
  background: var(--primary_color);
}

#header li::after {
  background: var(--primary_color);
  position: absolute;
  content: '';
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#header li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* MAIN */

.main_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.main_color,
.light_cards {
  padding: 1rem 0;
}

form select {
  margin-right: 2rem;
}

.main_list {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

#footer {
  margin-top: 9rem;
  padding: 2rem;
  border-top: 1px dotted var(--primary_color);
}

/* MEDIA QUERIES */

@media (min-width: 400px) {
  #header ul {
    justify-content: end;
  }

  #header li {
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  #main {
    max-width: 1200px;
    margin: 1.5rem auto;
  }
}
